.terms_and_conditions_text:hover + .pop_over {
  display: block;
  right: 0;
  top: 0;
}

.pop_over {
  background: rgb(199, 196, 196);
  padding: 2rem;
  width: 14rem;
  border-radius: 15px;
  position: absolute;
  right: -18rem;
  top: -2rem;
  display: none;
}
